<div class="flex flex-col" style="height: 100vh">
  <div class="flex flex-col px-16 py-10">
    <div class="flex flex-row justify-between items-baseline align-baseline">
      <h4>Home</h4>
      <div class="flex flex-row items-baseline px-4">
        <img [src]="profile.picture" class="w-4 h-4 mr-4">
        <h4>{{ profile?.firstName + " " + profile.lastName }}</h4>
        <button mat-button class="ml-4" (click)="logout()">Logout</button>
      </div>
    </div>

    <div>
      <button mat-raised-button (click)="setupForm()">Create Post</button>

      <div *ngIf="showCreate" class="mt-2 flex-row">
        <div class="flex-col">
          <form [formGroup]="createPostForm" class="flex flex-col mt-3 mb-3">
            <mat-form-field class="">
              <mat-label>Title</mat-label>
              <input matInput placeholder="Title" maxlength="25" formControlName="title">
            </mat-form-field>

            <textarea matInput placeholder="Message" maxlength="200" formControlName="content" rows="5"></textarea>
          </form>

          <button mat-raised-button
            [disabled]="createPostForm.invalid"
            (click)="create()"
          >
            create
          </button>
        </div>
        <div class="flex flex-1"></div>
      </div>
    </div>

    <div>
      <mat-accordion
        *ngFor="let post of postList?.posts; index as i"
        class="m-3"
      >
        <mat-expansion-panel hideToggle [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="flex flex-col">
                <div class="flex flex-row items-baseline align-baseline">
                  <img [src]="post.user.picture" class="w-4 h-4 mr-4">
                  <h5 class="mr-4">{{post.user.firstName}}</h5>
                </div>
                <a [href]="'post/' + post.id">{{post.title}}</a>
              </div>
            </mat-panel-title>
            <mat-icon class="mx-6" (click)="goToPostDetailComp(post.id)">open_in_new</mat-icon>
          </mat-expansion-panel-header>
          <p class="break-words">{{post.content}}</p>
          <p class="text-wrap">on {{ post.createdAt | date }}</p>
          <p>by {{ post.user.firstName }}</p>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-paginator
        *ngIf="(postList.posts || [])?.length > 0"
        [length]="postList?.totalItems || 0"
        [pageSizeOptions]="[5, 10]"
        (page)="onPageChange($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
