@if (post) {
<div class="flex flex-col p-16" style="height: 100vh">
  <a mat-raised-button href="/" class="w-20">Home</a>
  <div class="flex-col m-1">
    <h1>{{ post.title }}</h1>
    <h4 class="break-words">{{ post.content }}</h4>

    <p>Created By {{ post.user?.firstName ?? "-" }}</p>
    <p>Date: {{ post.createdAt | date }}</p>
  </div>
</div>
} @else {
<div class="flex flex-col p-16" style="height: 100vh">
  <a mat-raised-button href="/" class="w-20">Home</a>
  <div>
    <h4>Post not found</h4>
  </div>
</div>
}
